body{
    background-color: #9D75EB;
    font-family: sans-serif;
    margin: 0px;
}

@media(max-width:480px){
    body{
        background-color: #9D75EB;
        font-family: sans-serif;
        text-align:center;
    }
 
  .logo{
        height: 100px;
        width: 100px;
    }
    .mainBanner{
        background-image: url(Images/HomelessnessBanner.jpg);
        height: 400px;
        background-size: 100% 500px;
    }
    .menuBar {
        display: flex;
        background-color: #190838;
        opacity: .7;
        height: 110px;
        justify-content: space-between;
    }
    .headerNav {
        display: flex;
        flex-direction: column;
        background-color: none;
        color: white;
        text-align: center;
        line-height: 0;
        font-size: 10px;
        margin-right: 15px;
        margin-top: 10px;
    }
    .takeAction {
        text-align: center;
        
    }
    .bannerText {
        color: white;
        align-items: center;
        padding-top: 120px;
    }

    .secondSection{
        color: #190838;
        /*border:1px solid red;*/
        height: auto;
        display: flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    figure{
        /*border:1px solid red;*/
        background: #D6C5F7;
        width: 270px;
        text-align: center;
        border-radius: 30px;
        padding: 20px;
        height: auto;
        box-shadow: 5px 5px 5px #0f071c;
    }
    
    
    .thirdSection {
        display: flex;
        flex-direction:column;
        gap: 40px;
        padding: 20px;
        background-color: #190838;
        border-radius: 30px;
        width: auto;
        box-shadow: 5px 5px 5px #0f071c;
    }
    
    section {
        align-items: center;
    }
    
    .diagramImage {
        border-radius: 30px;
    
    }
    .textSection {
    
        color: #190838;
        background-color: #D9D9D9;
        padding: 10px;
        border-radius: 30px;
    }
    
    .fourthSection{
        height: 400px;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    
    .textBubbles{
        color:white;
        background-color: #190838;
        padding: 40px;
        display: flex;
        flex-direction:column;
        border-radius: 30px;
        align-items: center;
        flex:1 2;
        font-size: 15px;
        box-shadow: 5px 5px 5px #0f071c;
    }
    
    .imageIcons {
        width: 200px;
        height: 200px;
        padding: 20px;
        display:flex;
        justify-content: center;
    }
    
    section{
        display: flex;
        flex: 1 2;
        flex-direction:column;
    }
    
    img:nth-of-type(2-4){
        height:20%;
    }
    
    footer {
        background-color: #190838;
        color: white;
        display: flex;
        justify-content: space-between;
        max-height: 80px;
        margin-top: 20px;
        width: auto;
        }
    .footerNav {
        padding: 0px;
        margin: 0px;
        line-height: 3px;
        font-size: 12px;
        align-items: center;
        margin-right: 10px;
    }
    .footerLogo {
        height:60px;
        width:60px;
    }
    .donateFigure {
        text-align: center;
        padding: 0px;
        line-height: 0px;
        align-items: center;
    }
}


@media(min-width: 481px){
    .mainBanner {
        /*position: absolute;*/
        display: flex;
        flex-direction: column;
        height: 600px;
        background-image: url(Images/HomelessnessBanner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .menuBar {
        display: flex;
        justify-content: space-between;
        background-color: #190838;
        opacity: .7;
    }
    .logo{
        width: 70px;
        height: 70px;
        align-items: center;
    }
    .headerNav {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        align-items: center;
        height: 40px;
        /*positioning*/
        gap: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        opacity: 1;
    }
    .navText{
        background-color: #9D75EB;
        padding: 8px;
        border-radius: 30px;
        font-size: 18px;
        color: white;
        text-shadow: 5px 5px 5px #0f071c;
        box-shadow: 5px 5px 5px #0f071c;
    }
    .navText:hover{
        background-color: white;
        padding: 8px;
        border-radius: 30px;
        font-size: 18px;
        color: #9D75EB;
        text-shadow: black;
        box-shadow: 5px 5px 5px #0f071c;
    }
    .bannerText {
        color: white;
        align-items: flex-end;
        padding-top: 150px;
        animation: fadeIn 6s;
        text-family: sans-serif;
        font-size: 30px;
    }
    
    @keyframes fadeIn { 
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
    
    
    .secondSection{
        color: #190838;
        /*border:1px solid red;*/
        height: auto;
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    figure{
        /*border:1px solid red;*/
        background: #D6C5F7;
        width: 270px;
        text-align: center;
        border-radius: 30px;
        padding: 20px;
        height: auto;
        box-shadow: 5px 5px 5px #0f071c;
    }
    
    
    .thirdSection {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px;
        background-color: #190838;
        border-radius: 30px;
        box-shadow: 5px 5px 5px #0f071c;
    }
    .diagramImage {
        border-radius: 30px;
        width: 40%;
    }
    .textSection {
        flex: 1 2;
        color: #190838;
        background-color: #D9D9D9;
        padding: 10px;
        border-radius: 30px;
        text-shadow: 2px 2px px #0f071c;
    
    }
    
    .fourthSection{
        height: 400px;
        display: flex;
        flex-direction:column;
    }
    
    .textBubbles{
        color:white;
        background-color: #190838;
        padding: 40px;
        display: flex;
        flex-direction:row;
        border-radius: 30px;
        align-items: center;
        flex:1 2;
        font-size: 25px;
        text-shadow: 5px 5px 5px black;
        box-shadow: 5px 5px 5px #0f071c;
    }
    
    .imageIcons {
        width: 300px;
        height: 300px;
        padding: 20px;
        margin-right: 30px;
        justify-content: center;
    }
    
    section{
        display: flex;
        flex: 1 2;
    }
    
    img:nth-of-type(2-4){
        height:20%;
    }
    
    footer {
        background-color: #190838;
        color: white;
        display: flex;
        justify-content: space-between;
        max-height: 80px;
    }
    button {
        width: 150px;
        height: 30px;
    }
    .donateFigure {
        text-align: center;
        padding: 0px;
        line-height: 0px;
    }
    .footerNav {
        padding: 0px;
        margin: 0px;
        line-height: 0px;
    }
}