body{
    background-color: #9D75EB;
}
.mainBanner {
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    height: 600px;
    background-image: url(Images/HomelessnessBanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menuBar {
    display: flex;
    justify-content: space-between;
    background-color: #190838;
    opacity: .7;
}
.logo{
    width: 70px;
    height: 70px;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
    height: 40px;
    /*positioning*/
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 1;
    /*styling*/
    background-color: #9D75EB;
    border-radius: 30px;
    font-size: 16px;
    color: white;
}
.bannerText {
    color: white;
    align-items: flex-end;
    padding-top: 300px;
    
}

.secondSection{
    color:white;
    /*border:1px solid red;*/
    height: 500px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

figure{
    height: 270px;
    /*border:1px solid red;*/
    background: #D6C5F7;
    width: 270px;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}


.thirdSection {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    background-color: #190838;
}
.diagramImage {
    border-radius: 30px;
    width: 40%;
}
.textSection {
    flex: 1 2;
    color: #190838;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 30px;
}

.fourthSection{
    height: 400px;
    display: flex;
    flex-direction:column;
}

.textBubbles{
    color:white;
    background-color: #190838;
    padding: 40px;
    display: flex;
    flex-direction:row;
    border-radius: 30px;
    flex:1 2;
}

section{
    display: flex;
    flex: 1 2;
}

img:nth-of-type(2-4){
    height:20%;
}
