body{
    background-color: #9D75EB;
    font-family: sans-serif;
    margin: 0px
}
.donateSection {
    border-radius: 30px;
}
.volunteerSection {
    border-radius: 30px;
}






@media (max-width: 480px){
    body{
        display:flex;
        flex-direction: column;
    }
    /*//header//*/
    .logo{
        height: 100px;
        width: 100px;
    }
    .mainBanner{
        background-image: url(Images/HomelessnessBanner.jpg);
        height: 400px;
        background-size: 100% 500px;
    }
    .menuBar {
        display: flex;
        background-color: #190838;
        opacity: .7;
        height: 110px;
        justify-content: space-between;
    }
    .headerNav {
        display: flex;
        flex-direction: column;
        background-color: none;
        color: white;
        text-align: center;
        line-height: 0;
        font-size: 10px;
        margin-right: 15px;
        margin-top: 10px;
    }
    .takeAction {
        text-align: center;
        
    }
    .bannerText {
        color: white;
        align-items: center;
        padding-top: 120px;
    }
    /*centerSection*/
     section {
        display: flex;
        flex-direction: column;
        background-color: #190838;
        color: white;
        text-align: center;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
    }
    
    .donateSection{
        margin-bottom: 15px;
    }
    
    footer {
        background-color: #190838;
        color: white;
        display: flex;
        justify-content: space-between;
        max-height: 80px;
        margin-top: 20px;
        }
    .footerNav {
        padding: 0px;
        margin: 0px;
        line-height: 3px;
        font-size: 12px;
        align-items: center;
        margin-right: 10px;
    }
    .footerLogo {
        height:80px;
        width:80px;
    }

}





@media (min-width: 481px){
    .mainBanner {
        /*position: absolute;*/
        display: flex;
        flex-direction: column;
        height: 600px;
        background-image: url(Images/HomelessnessBanner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .menuBar {
        background-color: #190838;
        display: flex;
        justify-content: space-between;
        opacity: .7;
    }
    .logo{
        width: 70px;
        height: 70px;
        align-items: center;
    }
    .headerNav {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        align-items: center;
        height: 40px;
        /*positioning*/
        gap: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        opacity: 1;
    }
    .navText{
        background-color: #9D75EB;
        padding: 8px;
        border-radius: 30px;
        font-size: 18px;
        color: white;
        text-shadow: black;
    }
    .bannerText {
        color: white;
        align-items: flex-end;
        padding-top: 300px;
    }
    .takeAction {
        text-align: center;
        color: white;
    }
    section {
        display: flex;
        flex-direction: column;
        background-color: #190838;
        color: white;
        text-align: center;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
    }
    
    .donateSection{
        margin-bottom: 15px;
    }
    
    footer {
        background-color: #190838;
        color: white;
        display: flex;
        justify-content: space-between;
        max-height: 80px;
        margin-top: 20px;
    }
    button {
        width: 150px;
        height: 30px;
    }
    .donateFigure {
        text-align: center;
        padding: 0px;
        line-height: 0px;
        align-items: center;
    }
    .footerNav {
        padding: 0px;
        margin: 0px;
        line-height: 0px;
    }
}
